body{
  background-color: black;
  padding: 20px;
}
.container-body
{
  margin-top: 10px;
}
.graph
{
  height:500px;

}
.stocks
{
  padding: 20px;
}
.code_buttons
{
  height: 10px;
  background-color: yellow;
  margin: 10px;
  height: 80px;
}
.c_text
{

text-align: center;
  margin: 5px;
font-family: 'Bungee', cursive;
font-size: 20px;

}

.rmv
{
  float: right;
  margin-top: 7px;

}

.button
{
  margin: 5px;

}
