<html>
<head>
  <title>Stock-Shock App</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<link rel="icon"
      type="image/png"
      href="img/logo.png">

<script src="js/jsloader.js"></script>


</head>
<body>


  <nav class="navbar custom-nav" >
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand " href="index.html" ><b><span class="logo-fonts nav-color"> <img src="img/logo.png" width="45px"/>Stock-Shock</span></b></a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
    <ul class="nav navbar-nav">


    </ul>

    <ul class="nav navbar-nav navbar-right">

      <li><a href="#" data-toggle="modal" data-target="#myModal" ><span class="nav-color" style="font-family: 'Noto Serif', serif;">About</span></a></li>

    </ul>
  </div><!-- /.navbar-collapse -->
</div><!-- /.container-fluid -->
</nav>

<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Modal Header</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>


<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<br/>
<div class="container-body">


<div class="graph">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
  <script>
var ctx = document.getElementById("myChart");
Chart.defaults.global.maintainAspectRatio = false;
var myChart = new Chart(ctx, {
type: 'line',
data: {
  labels: ["January", "February", "March", "April", "May", "June", "July","August","September","Octomber","November","December"],
  datasets: [
      {
          label: "Facebook",
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(555,154,192,0.4)",
          borderColor: "rgba(555,154,192,1)",
          borderCapStyle: 'butt',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'miter',
          pointBorderColor: "rgba(555,154,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(555,154,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [65, 59, 80, 81, 56, 55, 40,110,10,50,80,80],
          spanGaps: false,
      },
      {
          label: "Twitter",
          fill: true,
          lineTension: 0.1,
          backgroundColor: "rgba(65,29,192,0.4)",
          borderColor: "rgba(75,192,192,1)",
          borderCapStyle: 'round',
          borderDash: [],
          borderDashOffset: 0.0,
          borderJoinStyle: 'round',
          pointBorderColor: "rgba(75,192,192,1)",
          pointBackgroundColor: "#fff",
          pointBorderWidth: 1,
          pointHoverRadius: 5,
          pointHoverBackgroundColor: "rgba(75,192,192,1)",
          pointHoverBorderColor: "rgba(220,220,220,1)",
          pointHoverBorderWidth: 2,
          pointRadius: 1,
          pointHitRadius: 10,
          data: [100, 5, 30, 20, 56, 55, 40,110,10,50,80,80],
          spanGaps: false,
      }

  ]
},
height:100,
options: {
    scales: {
        yAxes: [{
            ticks: {
                beginAtZero:true,
                stacked:true
            }
        }]

    },
    legend: {
               position:'bottom'
           }

}
});
Chart.defaults.global.responsive = true;
</script>

<br/>

</br/>
</div>
<div class="container">

<div class="error">

</div>



      <form action="" method="none">
  <div class="input-group">
     <input type="text" class="form-control" id="m">
     <span class="input-group-btn">
          <button class=" btn-add btn btn-inverse btn-primary " >Add Stock</button>
     </span>
   </div>
 </form>
   <div class="stocks">
        <div class="row">
          <div class="col-lg-2 code_buttons">
            <i class="fa fa-remove rmv"></i>
          <center>

              <div class="c_text">Facebook <br/>

              </div>
              <div class="confirm">
                <button class="btn btn-success btn-xs button">Discard</button><button class="btn btn-danger btn-xs button">Keep</button>
              </div>

          </div>


          <div class="col-lg-2 code_buttons">
            <i class="fa fa-remove rmv"></i>
          <center>

              <div class="c_text">Facebook <br/>

              </div>

                <div class="confirm">
              <button class="btn btn-success btn-xs button">Discard</button><button class="btn btn-danger btn-xs button">Keep</button>
            </div>
          </div>




        </div>

  </div>





</div>


<script src="../socket.io/socket.io.js"></script>
<script>
var socket = io();
$('form').submit(function(){
  socket.emit('stock code',$('#m').val());
  $('#m').val('');
  return false;
});
socket.on('stock code',function(stockCode){
  if(stockCode === "stockerr")
  {
    $('.error').html("<div class='alert alert-danger'><strong>Wrong Stock Code!!</strong> Please enter a valid Stock Code. Don't know stock code for a specific company? Please Refer <a href='http://eoddata.com/symbols.aspx' target='_blank'> Stock Code List</a></div>");
  }
  if(stockCode === "stockavail")
  {
    $('.error').html("<div class='alert alert-danger'><strong>Stock already exist!!</strong> see ? its there</div>");
  }

})
</script>



</body>
</html>
