<html>
<head>
  <title>Stock-Shock App</title>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <link rel="stylesheet" href="css/styles.css" type="text/css" />
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css" />
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Bungee" rel="stylesheet">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
<link href="https://fonts.googleapis.com/css?family=Ravi+Prakash" rel="stylesheet">
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

<link rel="icon"
      type="image/png"
      href="img/logo.png">

<script src="js/jsloader.js"></script>
<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">



</head>
<body>


  <nav class="navbar custom-nav" >
<div class="container-fluid">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">

    <a class="navbar-brand " href="index.html" ><b><span class="logo-fonts nav-color"> <img src="img/logo.png" width="45px"/>Stock-Shock</span></b></a>
  </div>



</div><!-- /.container-fluid -->
</nav>




<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

<br/>
<div class="container-body">


<div class="graph">
  <canvas id="myChart" width="400" height="400"></canvas>
</div>
  <div id="graph">
  <script>

</script>

</div>


<br/>

</br/>
</div>
<div class="container">

<div class="error">

</div>



      <form action="" method="none">
  <div class="input-group">
     <input type="text" class="form-control" id="m" required>
     <span class="input-group-btn">
          <button class=" btn-add btn btn-inverse btn-primary " >Add Stock</button>
     </span>
   </div>
 </form>
   <div class="stocks">
        <div class="row stock-code">




        </div>



  </div>

<div class="instuctions">
  <legend class="legend">
<center>
  Instuctions
</center>
  </legend>
  <center>
    Add stocks by entering a stock symbol (e.g. GOOGL, AAPL, AMZN, EBAY).
<br/>

Remove stocks by clicking 'x' on the stock item you want to remove.
<br/>
<br/>
<img src="img/logo.png" width="45px"/> <br/>
Built by Jay Jariwala Copyright © 2016-2017
<br>
<i class="fa fa-twitter"> <a href="https://twitter.com/dead_lock0" target="_blank">twitter</a> </i> | <i class="fa fa-code"> <a href="http://jayjariwala.com" target="_blank">Portfolio </a> </i> | <i class="fa fa-linkedin"> <a href="http://linkedin.com/in/jay-jariwala" target="_blank">Linkedin </a> </i>
</center>
<br/>

</br/>
</div>


</div>


<script src="../socket.io/socket.io.js"></script>



<script>

var socket = io();
$('form').submit(function(){
  socket.emit('stock code',$('#m').val());
  $('#m').val('');

  return false;
});

function discard(value)
{
socket.emit('discard',value);
}

function keep(value)
{
  $('.con'+value).hide();
  $('.code'+value).css("height","50px");
}
socket.on('user connection',function(user){

console.log(user);
  var ctx = document.getElementById("myChart");
  Chart.defaults.global.maintainAspectRatio = false;
console.log("print user"+user);
  if(user == null)
  {
    $('.stock-code').html('');
    console.log("GOES IN>>>")
    var myChart = new Chart(ctx, {
    type: 'line',
    data: {
      labels: [ <%-months%> ],
      datasets: []
    },
    height:100,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stacked:true
                }
            }]

        },
        legend: {
                   position:'bottom'
               },
               hover: {
      mode: false
      }
    }
    });
    Chart.defaults.global.responsive = true;

  }
  else {

    var myChart = new Chart(ctx, {
    type: 'line',
    data: {


      labels: [ <%-months%> ],
      datasets: user
    },
    height:100,
    options: {
        scales: {
            yAxes: [{
                ticks: {
                    beginAtZero:true,
                    stacked:true
                }
            }]

        },
        legend: {
                   position:'bottom'
               },
               hover: {
      mode: false
      }
    }
    });
    Chart.defaults.global.responsive = true;



      $('.stock-code').html('');
      for(var i=0;i<user.length;i++)
      {
        $('.stock-code').append("<div class='col-lg-2 code_buttons code"+i+"'><i class='fa fa-remove rmv' onClick='enable("+i+")'></i><center><div class='c_text'>"+user[i].label +"<br/></div><div class='confirm con"+i+"'><button class='btn btn-success btn-xs button' onClick='discard(\""+user[i].label+"\")'>Discard</button><button class='btn btn-danger btn-xs button' onClick='keep("+i+")'>Keep</button></div></div>");

      }
      stockeffect();


  }


})
socket.on('stock code',function(stockCode){
  if(stockCode === "stockerr")
  {
    $('.error').html("<div class='alert alert-danger'><strong>Wrong Stock Code!!</strong> Please enter a valid Stock Code. Don't know stock code for a specific company? Please Refer <a href='http://eoddata.com/symbols.aspx' target='_blank'> Stock Code List</a></div>");
  }
  if(stockCode === "stockavail")
  {
    $('.error').html("<div class='alert alert-danger'><strong>Stock already exist!!</strong> see ? its there</div>");
  }

})
</script>



</body>
</html>
